@charset "UTF-8";

/***** Icons font *****/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot');
  src: url('../font/symbols-sedona.woff') format('woff'),
  url('../font/symbols-sedona.ttf') format('truetype'),
  url('../font/symbols-sedona.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  font-variant: normal;
  text-transform: none;
}

/***** Base *****/

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #000;

  background: #f2f2f2;
}

h1, h2 {
  font-size: 21px;
  line-height: 26px;
}

.main-container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background: #fff;

  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 30px 6%;
}

@media (max-width: 911px) {
  .container {
    padding: 30px 4%;
  }
}

@media (min-width: 912px) and (max-width: 1056px) {
  .container {
    padding: 30px 5%;
  }
}

.row:after, .clearfix:after {
  content: '';

  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
}

.column:last-child {
  float: right;
  width: 34%;
}

.column-span {
  float: left;
  width: 66%;
}

.column-span:last-child {
  float: right;
  width: 67%;
}

.left {
  float: left;
}

.right {
  float: right;
}

/***** Header *****/

header nav ul {
  margin: 0;
  padding: 0;

  font-size: 0;
}

header nav li {
  display: inline-block;
  width: 20%;

  font-size: 14px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
}

header nav a {
  display: block;
  padding: 15px 0;

  color: #000;

  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: #81b3d2;
}

header nav a:active {
  opacity: .3;
}

header nav .active a {
  color: #766357;
}

header nav .active a:hover {
  color: #604e43;
}

header nav .active a:active {
  color: #766357;

  opacity: .3;
}

.nav-logo {
  position: relative;
}

.nav-logo a {
  padding: 0;
}

.nav-logo img {
  position: absolute;
  z-index: 1;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

/***** Footer *****/

footer {
  position: relative;
  z-index: 1;

  background: rgba(255, 255, 255, .9);
}

footer .column {
  min-height: 50px;
  padding: 35px 0;

  text-align: center;
  vertical-align: middle;
}

.footer-tag {
  margin-top: 10px;
  margin-bottom: 0;
}

.social {
  font-size: 0;
}

.social .btn {
  width: 48px;
  height: 48px;
  padding: 0;

  font-size: 19px;
  line-height: 48px;
}

.social .btn:last-child {
  margin-right: 0;
}

.icon-facebook:before {
  content: '\66';
}

.icon-twitter:before {
  content: '\74';
}

.icon-youtube:before {
  content: '\f39e';
}

.copyright p {
  margin-top: 7px;
  margin-bottom: 0;
}

.copyright a .copyright-icon {
  display: inline-block;
  width: 135px;
  height: 33px;
  margin-left: 7px;

  vertical-align: middle;

  background: url("../img/sprite.png") no-repeat -10px -10px;
}

.copyright a:hover .copyright-icon {
  background-position: -10px -116px;
}

.copyright a:active .copyright-icon {
  background-position: -10px -63px;
}

/***** Content *****/

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
  margin-right: 6px;

  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: #604e43;
}

.btn:active {
  background: #503e33;

  color: rgba(255, 255, 255, .3);
}

.btn-primary {
  background: #81b3d2;
}

.btn-primary:hover {
  background: #669ec0;
}

.btn-primary:active {
  background: #5496bd;
}

.btn-block {
  display: block;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-huge {
  padding: 32px 10px;

  font-size: 21px;
}

.btn-big {
  padding: 18px 10px;

  font-size: 21px;
}

/***** Index content *****/

.title {
  position: relative;

  height: 510px;

  background: #f2f2f2 url("../img/bg-title-index.jpg") no-repeat;
  background-size: cover;
}

.title:after {
  content: "";

  position: absolute;
  bottom: 0;

  display: block;
  height: 12%;
  width: 100%;

  background: transparent url("../img/bg-title-footer.png") no-repeat bottom;
  background-size: 101%;
}

.title img {
  display: block;
  margin: 0 auto 0;
  padding-top: 75px;
}

.hero {
  width: 490px;
  margin: 55px auto 50px;

  text-align: center;
}

.hero h1,
.hero h2 {
  margin-bottom: 35px;
}

.feature {
  min-height: 254px;
  padding-top: 1px;

  text-align: center;
}

.feature h2 {
  width: 151px;
  margin: 45px auto 10px;
}

.feature-number {
  display: inline-block;

  margin-bottom: 22px;
}

.feature-number:before,
.feature-number:after {
  content: " - ";
}

.feature p {
  margin: 0 19%;
}

.feature-primary {
  color: #fff;

  background: #81b3d2;
}

.feature-info {
  background: #eeeeee;
}

.feature-default {
  min-height: 270px;
  padding-top: 60px;
}

.feature-default h2 {
  margin-top: 0;
  margin-bottom: 22px;
}

.feature-icon {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 20px;

  background: url("../img/sprite.png") no-repeat;
}

.feature-icon-house {
  background-position: -165px -100px;
}

.feature-icon-food {
  background-position: -165px -10px;
}

.feature-icon-stuff {
  background-position: -5px -192px;
}

.feature-image {
  min-height: 255px;

  background: #f2f2f2 no-repeat;
  background-size: 100% auto;
  background-position-y: center;
}

.feature-image-1 {
  background-image: url("../img/img-feature-1.jpg");
}

.feature-image-2 {
  background-image: url("../img/img-feature-2.jpg");
}

.search-title {
  font-size: 30px;
}

.search-modal-sheet {
  position: relative;
  z-index: 2;

  background: #fff;
}

.search-btn {
  width: 568px;
  margin: 0 auto;
}

.search-container {
  position: relative;

  width: 568px;
  margin: 0 auto;
}

.search-modal {
  position: absolute;
  top: -405px;
  z-index: 1;

  width: 458px;
  padding: 55px;

  background: #fff;
  
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  -ms-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  -o-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.search-modal-show {
  -webkit-animation: modal-roll-down;
  -o-animation: modal-roll-down;
  animation: modal-roll-down;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.search-modal p {
  position: relative;

  font-size: 14px;
  font-weight: bold;
  line-height: 38px;

  margin-top: 0;
  margin-bottom: 30px;
}

.search-modal p:before {
  content: "";
  display: table;
  clear: both;
}

.search-modal input:not([type="submit"]) {
  height: 38px;
  margin: 0;
  padding: 6px 15px;
  border: 2px solid #f2f2f2;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #000;
  outline: none;
  background: #f2f2f2;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.search-modal input:hover:not([type="submit"]) {
  background: #ebebeb;
  border-color: #ebebeb;
}

.search-modal input:active:not([type="submit"]) {
  background: #fff;
}

.search-modal input.date {
  float: right;

  width: 346px;
}

.search-modal input.number {
  width: 114px;
  padding: 6px 38px;

  text-align: center;
}

.search-modal p.icon-calendar:after {
  content: '\e800';

  position: absolute;
  right: 10px;

  color: #c0c0c0;

  font-family: "symbols-sedona";
  font-size: 21px;
  font-weight: normal;
}

.age-input-container {
  position: relative;

  float: right;
}

.age-input-container:before {
  content: '\e802';

  position: absolute;
  left: 14px;

  color: #c0c0c0;

  font-family: "symbols-sedona";
  font-size: 14px;
  font-weight: normal;
}

.age-input-container:after {
  content: '\e801';

  position: absolute;
  right: 14px;
  top: 0;

  color: #c0c0c0;

  font-family: "symbols-sedona";
  font-size: 14px;
  font-weight: normal;
}

.search-modal p.icon-calendar:hover:after,
.age-input-container:hover:before,
.age-input-container:hover:after {
  color: #000;
}

.search-modal p.icon-calendar:active:after,
.age-input-container:active:before,
.age-input-container:active:after {
  color: #81b3d2;
}

.age-input p:first-child {
  float: left;

  width: 226px;
  margin-right: 53px;
}

.age-input p:last-child {
  float: right;

  width: 179px;
}

.search-modal .btn {
  margin-top: 25px;
}

.map {
  position: relative;
  top: 120px;

  height: 595px;
  margin-top: -120px;

  background: #f2f2f2 url("../img/img-map-index.jpg") no-repeat;
  background-size: cover;
}

/***** Hotels content *****/

.filter {
  min-height: 217px;

  background: #f2f2f2 url("../img/bg-filter.jpg") no-repeat;
  background-size: cover;

  color: #fff;
}

.filter-block {
  width: 140px;
}

.filter .left .filter-block {
  float: left;
}

.filter .left .filter-block:first-child {
  margin-right: 115px;
}

.filter .right {
  width: 31%;
}

.filter .right .filter-block {
  width: 96%;
}

.filter .right .filter-block h2 {
  margin-bottom: 10px;
}

.filter-block h2 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 21px;
}

.filter-block p {
  margin-bottom: 21px;
}

.filter-block p:last-child {
  margin-bottom: 0;
}

.filter input[type="checkbox"] {
  display: none;
}

.filter input[type="checkbox"] + label {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;
}

.filter input[type="checkbox"] + label:before {
  content: "\2610";

  display: inline-block;
  width: 40px;

  font-family: "symbols-sedona";
  font-size: 24px;

  vertical-align: middle;
}

.filter input[type="checkbox"]:checked + label:before {
  content: "\2611";
}

.filter input[type="checkbox"] + label:hover:before {
  color: #b5b5b5;
}

.filter input[type="checkbox"]:disabled + label:before {
  color: #6a6a6a;
}

.filter input[type="submit"] {
  width: 137px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 2px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #fff;

  outline: none;
  background: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.range-filter {
  width: 100%;
  margin: 10px auto 20px;
}

.value-controls {
  position: relative;

  height: 32px;
  margin-bottom: 5px;
  border: 2px solid #fff;
  border-radius: 2px;

  font-size: 14px;
  line-height: 32px;

  color: #fff;
}

.value-controls:before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 2px;
  height: 22px;
  margin-left: -1px;
  margin-top: -11px;

  background: #fff;
}

.value-controls:after {
  content: "";
  display: table;
  clear: both;
}

.value-controls input {
  width: 40px;
  height: 23px;
  padding: 4px;
  border: none;
  background: transparent;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;

  color: #fff;

  outline: none;
}

.min-value-control {
  float: left;
  width: 50%;
  padding-left: 20px;

  text-align: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.max-value-control {
  float: right;
  width: 50%;
  padding-left: 20px;

  text-align: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.range-controls {
  position: relative;

  height: 26px;
  padding: 0 2px;
  border-top: 1px solid transparent;

  background: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  margin-top: 12px;

  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  height: 2px;

  background: #fff;
}

.range-controls .toggle {
  position: absolute;
  top: 3px;
  left: 3px;

  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;

  background: #ababab;
  cursor: pointer;

  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14);
  -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14);
  -ms-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14);
  -o-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14);
}

.range-controls .toggle:hover {
  background: #1c4f80;
}

.range-controls .min-toggle {
  left: 0;
}

.range-controls .max-toggle {
  left: 75%;
}

.filter-submit {
  text-align: center;
}

.sort {
  border-bottom: 2px solid #eeeeee;

  font-size: 12px;
  line-height: 18px;
}

.sort p {
  margin: 0;
}

.sort .filter-result {
  margin-right: 45px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-type span {
  margin-right: 40px;
}

.sort-type a {
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;

  text-decoration: none;

  color: rgba(0, 0, 0, .3);
}

.sort-type a:hover {
  color: #81b3d2;
}

.sort-type a:active {
  border-bottom: 0;

  color: #000;
}

.sort-type .active {
  border-bottom: none;

  color: #81b3d2;
}

.sort-direction a {
  font-size: 23px;
  line-height: 23px;
  text-decoration: none;

  color: rgba(0, 0, 0, .3);
}

.sort-direction a:hover {
  color: #000;
}

.sort-direction a:active,
.sort-direction .active {
  color: #81b3d2;
}

.icon-arrow-up:before {
  content: '\25b2';

  margin-right: 10px;
}

.icon-arrow-down:before {
  content: '\25bc';
}

.hotels article {
  border-bottom: 2px solid #eeeeee;
}

.hotels article img {
  position: absolute;

  width: 135px;
  height: 90px;
}

.hotels article .details {
  padding-left: 165px;
}

.hotels .details h2 {
  margin-top: -5px;
  margin-bottom: 7px;
}

.hotels .details h2 a {
  color: #000;

  text-decoration: none;
}

.hotels .details h2 a:hover {
  color: #81b3d2;
}

.hotels .details h2 a:active {
  color: rgba(0, 0, 0, .3);
}

.hotels .details p {
  margin-top: 0;
}

.stars {
  font-size: 20px;
  line-height: 14px;

  color: #81b3d2;
}

.icon-star:before {
  content: '\2605';
}

.rating {
  padding: 3px 13px;

  color: #666666;

  background: #f2f2f2;
}

.hotels article .right {
  position: relative;

  min-width: 150px;
  min-height: 90px;
  margin-right: 8px;

  text-align: right;
}

.hotels article .rating {
  position: absolute;
  right: 0;
  bottom: 0;
}

/***** Animations *****/

@-webkit-keyframes modal-roll-down {
  to {
    top: 0;
  }
}

@keyframes modal-roll-down {
  to {
    top: 0;
  }
}